\---
title: Title
layout: default
\---

.row
  .span12.promo.whitened
    %ul
      %li
        %a{:href => "#", :target => "_blank"} Telefonanlagen
      %li
        %a{:href => "#", :target => "_blank"} Dokumentenmanagement
      %li
        %a{:href => "#", :target => "_blank"} IT-Systeme
      %li
        %a{:href => "#", :target => "_blank"} Sicherheitstechnik
      %li
        %a{:href => "#", :target => "_blank"} Softwareentwicklung

.row
  .span12.whitened
    .wrapper
      %h2
        About Ruby amqp gem
      %p
        Ruby amqp gem is a widely used, feature-rich, well-maintained, fast asynchronous AMQP 0.9.1 (RabbitMQ) Ruby client with batteries included.
