<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en'>
  <head>
    <link href='/assets/stylesheets/bootstrap.css' media='screen' rel='stylesheet' type='text/css' />
    <link href='/assets/stylesheets/sass/styles.css' media='screen' rel='stylesheet' type='text/css' />
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js' type='text/javascript'></script>
    <script src='/assets/javascripts/codemirror.js'></script>
    <link href='/assets/stylesheets/codemirror.css' rel='stylesheet' />
    <script src='/assets/javascripts/mode/ruby.js'></script>
    <link href='/assets/stylesheets/theme/default.css' rel='stylesheet' />
    <script src='http://use.typekit.com/zls3kso.js' type='text/javascript'></script>
    <script type='text/javascript'>
      //<![CDATA[
        try{Typekit.load();}catch(e){}
      //]]>
    </script>
  </head>
  <body class='landing'>
    <div class='container'>
      <header class='row'>
        <div class='span2 logo'></div>
        <div class='span10'>
          <ul class='uberhead'>
            <li>
              info@orceo.com
            </li>
            <li>
              +49 (0)89 - 4613 - 0
            </li>
            <li>
              Kundenlogin
            </li>
            <li>
              <form class='form-search'>
                <div class='input-append'>
                  <input class='search-query' type='text' />
                  <span class='add-on'>
                    <div class='icon-search'></div>
                  </span>
                </div>
              </form>
            </li>
          </ul>
          <div class='clear'></div>
          <div class='whitened'>
            <ul class='nav'>
              <li>
                Living Tech
              </li>
              <li>
                Research & Development
              </li>
              <li>
                orceo
              </li>
            </ul>
            <div class='newsblock'>
              <h4>
                Neuigkeiten
              </h4>
              <h5>
                12.03.2011
              </h5>
              <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing...
              </p>
            </div>
            <div class='clear'></div>
          </div>
        </div>
      </header>
      {{ content }}
      <footer class='footer dark'>
        <div class='wrapper'>
          &copy; 2012 orceo
          <ul class='nav'>
            <li>
              Impressum
            </li>
            <li>
              Nutzungsbedingungen
            </li>
            <li>
              Themen
            </li>
            <li>
              Mobile
            </li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>
